body{
    margin: 0;
}
/****************************************** Header ****************************************/
.head_all{
    /* border: solid 2px red; */
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.logo{
    width: 30%;
    margin:0 auto;
    height: 100%;
    padding-top: 25px;
}
